body {
	overflow-y: scroll;
}

.row, .main {
	padding: 0;
	margin: 0;
}

section {
	background: #fff;
	margin: 50px 0 0;
	position: relative;
	width: 100%;
	z-index: 0;
}

.container {
	width: 100%;
	padding: 0;
}

.margins {
	max-width: 1170px;
	margin: 0 auto;
}

.btn {
	background: #CD0000;
	border: 0;
	font-family: $oswald;
	color: #fff;
	padding: 10px 16px;
	margin: 20px 0;
}

.skew-left {
	padding: 50px 0;
	-webkit-transform: skew(0deg, -3deg);
	transform: skew(0deg, -3deg);
	margin-top: -50px;
	clear: both;
}

.skew-right {
	padding: 50px 0;
	-webkit-transform: skew(0deg, 3deg);
	transform: skew(0deg, 3deg);
	margin-top: -50px;
	clear: both;
}

body.home {
	min-height: 1500px;

	section.landing {
		background: none;
		min-height: 800px;
		height: 100vh;
		position: relative;
		overflow: hidden;
		margin: 0;
		padding: 0;

			.landing-message {
				width: 1000px;
				height: 400px;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 2;
				margin: -250px 0 0 -500px;
			}

			.landing-message-text {
				h1 {
					font-family: $oswald;
					text-transform: uppercase;
					font-size: 80px;
					line-height: 110px;
					color: #fff;
				}

				.line {
					height: 3px;
					width: 100px;
					background: white;
					margin: 20px auto;
				}
			}

			.landing-bottles {
				margin-top: 100px;

				img {
					margin: 0 20px;
				}
			}

	}

	section.welcome {
		margin-top: 30px;
		clear: both;

		.welcome-text {
			
			h1 {
				font-family: $franklin;
				font-size: 30px;
				font-style: italic;
				text-transform: uppercase;
			}

			p {
				font-family: "Open Sans";
				font-size: 14px;
			}
		}

		.line {
			height: 3px;
			width: 100px;
			background: #CD0000;
			margin: 20px auto;
		}

	}

	section.brewery {
  		display: flex;

  		.brewery-wrap {
			display: flex;
			align-items: center;
			justify-content: center
		}
	}
}

body.our-beers {
	position: absolute;

	section.infinite-carousel {
		margin:200px 0 -200px;
		background: transparent;
		position: relative;
		overflow: hidden;
		clear: both;
		min-height:800px;

		-moz-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);

		.slide {
			float: left;
			width: 180px;
			height: 650px;
			color: #aaa;
			opacity: 0.5;
			padding: 10px;


			img {
				margin: 0 10%;
				padding: 0;
				width: 80%;
			}
			.beer-title {
				font-family: $franklin;
			    font-size: 25px;
			    font-style: italic;
			    font-weight: 100;
			    text-transform: uppercase;
			}
			.beer-type {
				font-family: impact;
				text-align: center;
				font-size: 15px;
			}
		}
		.slide.slide-current {
			color: #fff;
			opacity:0.90;
		}
		.slide.slide-enable-animation {
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			-webkit-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}


		/*-- Controls --*/
		.carousel-control-previous,
		.carousel-control-next {
			display: block;
			width: 40px;
			height: 40px;
			position: absolute;
			top: 200px;
			margin: auto;
			cursor: pointer;
			background: rgba(0, 0, 0, 0.6);
			color: #fff;
			line-height: 40px;
			font-size: 11px;
			text-align: center;
		}

		.carousel-control-previous {
			left: 0;
			right: auto;
		}

		.carousel-control-next {
			left: auto;
			right: 0;
		}

	}

	.beer-skew-left {
		padding: 50px 0;
		-webkit-transform: skew(0deg, -3deg);
		transform: skew(0deg, -3deg);
		margin-top: -50px;
		clear: both;
	}


	section.beer-post {
		background: #fff;
  		display: flex;

  		.beer-post-wrap {
			display: block;
		}
	}
}

q {
	font-family: $franklin;
	font-size: 30px;
	font-style: italic;
	text-transform: uppercase;
}

	q:before {
		content:"«";
		padding: 0 15px;
	}

	q:after {
		content:"»";
		padding: 0 15px;
	}

.section-image {


	img {
		width: 100%;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	float: none;
	margin: 0 auto;
}


#video-bg {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
	z-index: 0;

	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
}
/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
	#video-bg > video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
	#video-bg > video { width: 300%; left: -100%; }
}