.post {
	margin:40px 0;

	img {
		padding: 10px 0;
		width: 100%;
		height: auto;
	}
}

.odd {
	.text {
		float: left;
	}

	.image {
		float: right;
		padding-left: 50px;
	}
}

.even {
	.text {
		float: right;
	}

	.image {
		float: left;
		padding-right: 50px;
	}
}